# Ambiente virtual
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/

# Cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Arquivos temporários
*.tmp
*.temp

# Zip
*.zip